<%- include('partials/header'); -%>

<div class="main"></div>
<header>
  <div class="smoothie">
    <img src="/starlord.png" alt="hehehe">
  </div>
  <div class="headings">
    <h2>Visit Them</h2>
    <h3>Some green, some single eyed</h3>
    <a href="/smoothies" class="btn">Go Now!</a>
  </div>
</header>

<%- include('partials/footer'); -%>