<%- include('partials/header'); -%>

<div class="main"></div>
<ul class="recipes">
  <li class="recipe">
    <img src="/foodie.jpeg" alt="smoothie recipe icon">
    <h4>Foodie goblin</h4>
    <p>His love is Food,
      very sneaky and loves to gamble. 
    </p>
  </li>
  <li class="recipe">
    <img src="/single-eye.svg" alt="smoothie recipe icon">
    <h4>Eddy Angry</h4>
    <p>Fumbles , but great sense of humour</p>
  </li>
  <li class="recipe">
    <img src="/mandy.png" alt="smoothie recipe icon">
    <h4>Tooth mad</h4>
    <p>Friendly , dumb , loves to handshake</p>
  </li>
  <li class="recipe">
    <img src="/haddi.svg" alt="smoothie recipe icon">
    <h4>Skeleto </h4>
    <p>Tough , aggressive and strong, phew!</p>
  </li>
  <li class="recipe">
    <img src="/cutie.jpg" alt="smoothie recipe icon">
    <h4>Misty beauty</h4>
    <p>An elegant beauty,usually draws on spaceship walls </p>
  </li>
  <li class="recipe">
    <img src="/khobchu.png" alt="smoothie recipe icon">
    <h4>franky gizmo</h4>
    <p>Can't sepak like groot!</p>
  </li>
</ul>

<%- include('partials/footer'); -%>